# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Bazy danych / lokalne pliki
*.sqlite
*.sqlite3
*.db

# IDE / Edytory
.idea/
.vscode/
*.iml

# Testy / Coverage
.coverage
.pytest_cache/
htmlcov/
.tox/
.mypy_cache/

# Docker / Logi
*.pid
*.log

# macOS
.DS_Store
